/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg: rgba(255, 255, 255, 0.85);
  --clr-primary: #ffa201;
}

/* Animation */
@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* CSS Styling */
body {
  position: relative;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.scrolled {
  background-color: #ffa201aa;
}

nav {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 1rem 5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #ffa201aa;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;

  @media screen and (min-width: 769px) {
    flex-direction: row;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
  }

  & .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      height: 2rem;
    }

    & .ham-menu-btn {
      padding: 0.4em;
      border: solid black 2px;
      border-radius: 5px;

      @media screen and (min-width: 769px) {
        display: none;
      }
    }
  }

  & .menu-dekstop {
    display: none;

    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      gap: 2rem;
    }

    & li > a {
      text-decoration: none;
      color: black;
    }
  }

  & .menu-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    list-style: none;
    padding-inline-start: 0;

    & li > a {
      text-decoration: none;
      color: black;
    }
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;

  & .hero {
    display: flex;
    overflow-x: hidden;
    width: 100%;

    & .hero-image {
      flex: 1 0 100%;
      animation: slider 25s ease-in infinite reverse;

      @media screen and (min-width: 769px) {
        & img {
          width: 100%;
        }
      }
    }
  }
}

main {
  & .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffa201;
    color: white;
    padding: 2rem;
    font-size: 0.6rem;

    @media screen and (min-width: 769px) {
      font-size: 1rem;
    }

    & div {
      max-width: 60rem;
      text-align: center;
      margin: 3rem 0;
    }

    & h1 {
      font-size: 3em;

      &::after {
        content: "";
        display: block;
        width: 10em;
        border-top: solid white 5px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8em;
      }
    }

    & h2 {
      font-size: 2.25em;

      &::after {
        content: "";
        display: block;
        width: 10em;
        border-top: solid white 5px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8em;
      }
    }

    & p {
      font-size: 1.5em;
    }
  }

  & .new-product {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;

    @media screen and (min-width: 769px) {
      font-size: 1.5rem;
    }

    & h2 {
      margin-bottom: 2rem;
      color: var(--clr-primary);
    }

    & .new-product-wrapper {
      display: flex;
      width: 90%;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2rem;

      @media screen and (min-width: 769px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      & iframe {
        aspect-ratio: 16/9;
        width: 90vw;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 769px) {
          width: 50%;
        }
      }

      & article {
        text-align: center;
        /* padding: 1rem 0.5rem; */

        @media screen and (min-width: 769px) {
          max-width: 35%;
        }

        &::before {
          display: block;
          content: "Ale-Ale Funflava Coco Pandan";
          color: #ffa201;
          margin-bottom: 1.5rem;
          font-size: 1.25em;
        }
      }
    }
  }

  & .our-product {
    text-align: center;
    padding: 2rem 0.5rem;
    color: white;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 769px) {
      font-size: 1.5rem;
    }

    & h2 {
      margin-bottom: 2rem;

      &::after {
        content: "";
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        border-bottom: white solid 4px;
        margin-top: 0.5rem;
      }
    }

    & .moving-coin-container {
      display: flex;
      overflow-x: hidden;
      max-width: 800px;

      & .coin-container {
        display: flex;
        flex: none;
        gap: 1rem;
        padding: 2rem 0.5rem;
        justify-content: flex-start;

        & .coin {
          flex: none;
          background-color: #fff;
          width: fit-content;
          border-radius: 50%;
          filter: drop-shadow(2px 4px 4px rgba(24, 33, 81, 0.4));

          & img {
            width: 100px;
            height: 100px;
          }
        }
      }

      .moving-1 {
        animation: scrolling-left1 30s linear infinite;
      }

      .moving-2 {
        animation: scrolling-left2 30s linear infinite;
        animation-delay: 15s;
      }
    }
  }

  & .news {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;

    & h2 {
      color: var(--clr-primary);
      font-size: 2em;
      margin-bottom: 2rem;  
    }

    & .news-card-container {
      display: flex;
      overflow-x: scroll;
      max-width: 1312px ;
      gap: 2rem;
      justify-content: center;
          

      & .news-card {
        flex: none;
        width: 18rem;
        /* height: 24rem; */
        border: solid black 2px;
        border-radius: 50% 10% / 20%;
        padding: 3rem 2rem;

        & .news-img{
          width: 100%;
          aspect-ratio: 4/3;
          background-color: gray;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffa201;

  & .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;

    @media screen and (min-width: 769px) {
      flex-direction: row;
      align-items: start;
      gap: 4rem;
    }

    & .logo-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      & .footer-logo {
        width: fit-content;
        padding: 4px;
        border: solid black 2px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.85);

        & .logo {
          display: flex;
          align-items: center;
          gap: 8px;

          & img {
            display: inline-block;
            height: 2.5rem;
          }

          & .vertical-line {
            display: inline-block;
            height: 46px;
            border-left: solid black 3px;
          }

          & .text {
            display: inline-block;
          }
        }
      }

      & .social-media {
        display: flex;
        gap: 1rem;
      }
    }

    & .footer-address {
      padding: 0 2rem;
      max-width: 20rem;

      & p {
        margin-top: 0.3rem;
      }

      & .address-tittle {
        font-size: 1.3rem;
      }
    }
  }

  &::after {
    width: 100%;
    border-top: #fff solid 2px;
    padding: 1rem 0;
    content: "©2023 Iry Indriyanto";
    text-align: center;
  }
}
