/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg: rgba(255, 255, 255, 0.7);
}

/* CSS Styling */
body {
  background-color: #131313;
}

header {
  width: 100%;

  & nav {
    padding: 1rem 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var(--clr-bg);
    backdrop-filter: blur(5px);

    @media screen and (min-width: 769px) {
      flex-direction: row;
    }

    & .logo-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .logo {
        height: 2.5rem;
      }

      & .ham-menu-btn {
        padding: 0.4em;
        border: solid black 2px;
        border-radius: 5px;

        @media screen and (min-width: 769px) {
          display: none;
        }
      }
    }

    & .menu-dekstop {
      display: none;

      @media screen and (min-width: 769px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        gap: 2rem;
      }

      & li > a {
        text-decoration: none;
        color: white;
      }
    }

    & .menu-mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      gap: 1rem;
      list-style: none;
      padding-inline-start: 0;

      & li > a {
        text-decoration: none;
        color: white;
      }
    }
  }

  & .hero-image {
    padding: 2rem 0;
  }
}

main {
  .new-product {
    & iframe {
      aspect-ratio: 16/9;
      width: 80vw;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  background-color: var(--clr-bg);

  & .footer-logo {
    width: fit-content;
    padding: 4px;
    border: solid black 2px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);

    & .logo {
      display: flex;
      align-items: center;
      gap: 8px;

      & img {
        display: inline-block;
        height: 2.5rem;
      }

      & .vertical-line {
        display: inline-block;
        height: 46px;
        border-left: solid black 3px;
      }

      & .text {
        display: inline-block;
      }
    }
  }

  & .social-media {
    display: flex;
    gap: 1rem;
  }

  & .footer-address {
    padding: 0 2rem;

    & p {
      margin-top: 0.3rem;
    }

    & .address-tittle {
      font-size: 1.3rem;
    }
  }
}
